.achievement-container {
  background: var(--background-color);
  padding-bottom: 10rem;
}

.achievement-text {
  font-family: var(--paytone-font);
  color: var(--white-color);
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 4rem;
}

.achievement-list {
  width: 70vw;
  margin: auto;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.achievement-item {
  width: 32%;
  background-color: var(--white-color);
  border-radius: 21px;
  box-shadow: 0px 15px 20px -15px rgb(84 84 84);
  padding: 2rem;
  transition: all 0.3s linear;
}

.achievement-item:hover {
  transform: scale(1.1);
}

.achievement-img {
  padding-top: 100%;
  border-radius: 21px;
}

.img-1 {
  background: url("https://w.ladicdn.com/s600x550/6121eaeb1b6cbb00134b5e8d/118651473_1813914755426852_6107705359439888241_n-20220310095603.jpg")
    top center / cover;
}

.img-2 {
  background: url("https://w.ladicdn.com/s600x550/6121eaeb1b6cbb00134b5e8d/thay-kien-vuot-hon-1700km-ve-tan-nha-ban-hoc-tro-duy-co-hoan-canh-kho-khan-ben-tre-10d-sinh-va-do-y-khoa-dh-y-duoc-hcm-khoa-2k2-20220310095613.jpg")
    top center / cover;
}

.img-3 {
  background: url("https://w.ladicdn.com/s600x550/6121eaeb1b6cbb00134b5e8d/z3267201358108_0406c12605bb7bcd70542f973b1de0d9-20220317075921.jpg")
    top center / cover;
}

.achievement-title {
  font-family: var(--barlow-font);
  color: rgb(79, 191, 165);
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
  margin: 2rem auto;
}

.achievement-title::after {
  content: "";
  display: block;
  width: calc(30% + 20px);
  height: 1px;
  background-color: rgb(0, 114, 113);
  margin: 2rem auto;
}

.achievement-desc {
  font-family: var(--barlow-font);
  color: rgb(5, 34, 74);
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.6;
  margin: 0;
}
