.banner-container {
  background: var(--background-color);
  color: var(--white-color);
  padding-bottom: 30px;
  overflow: hidden;
}

.banner-background h3 {
  margin: 0;
}

.banner-logo {
  width: 30vw;
  height: 10rem;
  background-color: var(--white-color);
  margin: auto;
}

.banner-body {
  width: 55vw;
  margin: 13rem auto 1rem;
  display: flex;
  justify-content: space-between;
  gap: 5vw;
}

.banner-text {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 2rem;
}

.banner-title {
  font-family: var(--paytone-font);
  font-size: 2.6rem;
  line-height: 2.5;
  font-weight: bold;
  text-shadow: var(--black-color) 1px 2px 3px;
}

.banner-subtitle {
  font-family: var(--barlow-font);
  font-size: 4.9rem;
  font-weight: bold;
  line-height: 1.4;
  text-shadow: rgb(78, 78, 78) 1px 2px;
}

.banner-list h3 {
  font-family: var(--barlow-font);
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 1.6;
}

.banner-list h3::before {
  content: "- ";
}

.banner-photo {
  flex: 1;
  background-color: var(--white-color);
  position: relative;
}

.banner-photo img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 130%;
}

.banner-register {
  width: 55vw;
  margin: 3.5rem auto 0;
}

.banner-link {
  font-size: 2rem;
  padding: 1.5rem 4.5rem;
  color: var(--white-color);
  font-weight: bold;
  line-height: 1.6;
  background: var(--primary-linear);
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 30px;
  display: inline-block;
  animation: glowing 2000ms infinite;
}

