@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap");

:root {
  --primary-color: #ff3200;
  --secondary-color: #ff6800;
  --primary-linear: linear-gradient(180deg, #ff3200, #ff6800);
  --background-color: linear-gradient(180deg, #007271, #4fbfa5);
  --background-reverse: linear-gradient(180deg, #4fbfa5, #007271);
  --white-color: #fff;
  --black-color: #000;
  --grey-color: #242424;
  --barlow-font: "Barlow Condensed", sans-serif;
  --paytone-font: "Paytone One", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-size: 62.5%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  cursor: none !important;
}

.center-btn {
  text-align: center;
}

.cursor{
  background: url('https://media.cdnandroid.com/item_images/812144/imagen-real-time-q-a-qanda-0ori.jpg') top center /cover;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  pointer-events: none;
}
