.pathway-container {
  background: var(--background-color);
  padding-bottom: 10rem;
}

.pathway-desc {
  margin: 2rem auto 0;
  width: 55vw;
  height: 45rem;
  background-color: var(--white-color);
}
