.pathway-container {
  background: linear-gradient(180deg, #007271, #4fbfa5);
  padding-bottom: 10rem;
}

.pathway-desc {
  margin: 2rem auto 0;
  width: 55vw;
  height: 45rem;
  background-color: #fff;
}
