@media (min-width: 1601px) {
  .regist-container {
    width: 55vw !important;
  }
  .tuition-list {
    width: 40vw !important;
  }
}

@media (min-width: 1401px) {
  .teacher-wrapper {
    width: 55vw !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .regist-container,
  .teacher-wrapper,
  .achievement-list {
    width: 90vw !important;
    gap: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .banner-body,
  .banner-register,
  .explain-desc,
  .explain-img,
  .tuition-list {
    width: 90vw !important;
  }
  .regist-container,
  .teacher-wrapper,
  .achievement-list {
    display: block !important;
  }
  .regist-desc {
    margin-bottom: 2rem;
  }
  .teacher-photo,
  .achievement-item {
    width: 90% !important;
    margin: 0 auto 3rem;
  }
}

@media (max-width: 767px) {
  .banner-body,
  .banner-register,
  .regist-container,
  .regist-noti,
  .teacher-wrapper,
  .achievement-list,
  .tuition-list,
  .tuition-item,
  .pathway-desc {
    display: block !important;
    width: 90vw !important;
  }
  .regist-noti {
    margin-left: -1rem;
  }
  .explain-desc,
  .explain-img {
    width: 90vw !important;
  }
  .banner-text,
  .banner-register {
    text-align: center;
  }
  .banner-photo {
    margin: 10rem auto 0;
    width: 60vw;
    height: 60vw;
  }
  .regist-desc,
  .timer,
  .tuition-item {
    margin-bottom: 2rem;
  }
  .teacher-photo,
  .achievement-item {
    width: 90% !important;
    margin: 0 auto 3rem;
  }
}
